<!DOCTYPE html>
<html lang="en" ng-app="MaryamApp">
<head>
  <title>La cuisine de Maryam</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=700">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="MaryamCtrl" ng-cloak>
  <header class="container">
    <section class="jumbotron text-center">
      <figure class="col-sm-12">
        <h1>La cuisine de Maryam</h1>
        <h2 ng-if="homepage">Vous-êtes invité chez moi?</h2>
        <h2 ng-if="homepage">A vous de choisir!</h2>

        <h2 ng-if="!homepage">{{category}}</h2>
      </figure>
    </section>
  </header>

  <!-- Home page -->
  <section ng-if="homepage" class="container fade-transition">
    <figure ng-repeat="(category, foods) in data" class="food">
      <p>{{category}}</p>
      <a ng-click="setPage(category)">
        <img ng-src="/food/small/{{foods[0]}}.jpg"/>
      </a>
    </figure>
  </section>

  <!-- Category page -->
  <section ng-if="!homepage" class="container fade-transition">
    <figure ng-repeat="food in data[category]" class="food">
      <p>{{food}}</p>
      <img ng-src="/food/small/{{food}}.jpg"/>
    </figure>
  </section>

  <footer class="container">
    <a href="mailto:m.erfani@yahoo.com?Subject=My%20food%20picks">
      <h3>Envoyez votre choix ici</h3>
    </a>

    <a ng-if="!homepage" ng-click="location.path('/')">
      <h3>Retour</h3>
    </a>
  </footer>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>